body {
  margin: 0;
  padding: 0;
  background: #1a1a1a;
}

#splash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#splash img.center {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (prefers-color-scheme: light) {
  body {
    background: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1a1a1a;
  }
}
